//
   Created by mamol on 16/06/27.
doctype html
html
    head
        title 社員管理
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/admin.css')

    body
        include ../top.jade
        //社員情報
        div.box
            div.staff_table#staff_table
                table
                    tr
                        th 社員メール
                        th 社員名前
                        th 社員区分
                        th(colspan='5') 社員情報設定＆一覧
                        th 意見
                    mixin tab(user_name, user_email, user_occpation, button_id, text_id)
                        tr
                            td=user_name
                            td=user_email
                            td=user_occpation
                            td
                                form(method='post' action='/admin/set')
                                    input(type='text' id='staff_info_'+ button_id name='staff_id' value=text_id hidden)
                                    input(type='submit' value='情報詳細')
                            td
                                form(method='post' action='/admin/att_checking')
                                    input(type='text' name='staff_id' value=text_id hidden)
                                    input(type='text' name='staff_name' value=user_name hidden)
                                    input(type='submit' value='出勤時間一覧')
                            td
                                form(method='post' action='/admin/study_checking')
                                    input(type='text' name='staff_id' value=text_id hidden)
                                    input(type='text' name='staff_name' value=user_name hidden)
                                    input(type='submit' name='admin_study' value='学習内容一覧')
                            td
                                form(method='post' action='/admin/exam_checking')
                                    input(type='text' name='staff_id' value=text_id hidden)
                                    input(type='text' name='staff_name' value=user_name hidden)
                                    input(type='submit' value='行動基準評定')
                            td
                                form(method='post' action='/admin/ojt_checking')
                                    input(type='text' name='staff_id' value=text_id hidden)
                                    input(type='text' name='staff_name' value=user_name hidden)
                                    input(type='submit' name='admin_ojtcard' value='OJT研修力カード')
                            td
                                form(method='post' action='/admin/opinion_view')
                                    input(type='text' name='staff_id' value=text_id hidden)
                                    input(type='text' name='staff_name' value=user_name hidden)
                                    input(type='submit' value='社員意見')

                    -for (var i=0; i<info.length; i++)
                        +tab(info[i].staff_name, info[i].staff_email, info[i].staff_occupation, i, info[i]["_id"])

                    -var a = info.length
                    include ../responses/res_admin.jade

