//
   Created by mamol on 16/06/27.
doctype html
html
    head
        title 社員管理
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/admin.css')
        script(type='text/javascript' src='/javascripts/admin.js')

    body
        include ../top.jade
        //社員情報
        div.box
            div.staff_table#staff_table
                table
                    tr
                        th 社員ID
                        th 社員名前
                        th 社員区分
                    mixin tab(user_id, user_name, user_occp, button_id)
                        tr
                            td=user_id
                            td=user_name
                            td=user_occp
                            td
                                button(id='staff_info_'+ button_id) 情報詳細

                    -for (var i=0; i<info.length; i++)
                        +tab(info[i]._id, info[i].staff_name, info[i].staff_occupation, i)

            -for (var i=0; i<info.length; i++)
                div.info_table(id='info_table_'+i hidden)
                    div
                        mixin detail(detail_head, detail_data, no_id)
                            tr
                                th=detail_head
                                td(id='info_text_'+i+'_'+no_id)=info[i][detail_data]
                                td(id='info_td_'+i+'_'+no_id hidden)
                                    input(id='info_input_'+i+'_'+no_id type='text')
                                td
                                    button(id='info_modify_'+i+'_'+no_id) 修正
                                    button(id='info_ok_'+i+'_'+no_id hidden) 確認

                        table
                            +detail('社員ID', '_id', 0)
                            +detail('名前', 'staff_name', 1)
                            +detail('性別', 'staff_sex', 2)
                            +detail('生年月日', 'staff_birthday', 3)
                            +detail('社員メール', 'staff_email', 4)
                            +detail('電話番号', 'staff_tel', 5)
                            +detail('連絡先', 'staff_address', 6)
                            +detail('入社日', 'staff_signup_date', 7)
                            +detail('社員区分', 'staff_occupation', 8)
                            +detail('入室時間', 'entrance', 9)
                            +detail('退室時間', 'leave', 10)

                    div.checking_button
                        form(method='post' action='/admin/att_checking')
                            input(type='text' name='staff_id' value=info[i]["_id"] hidden)
                            input(type='text' name='staff_name' value=info[i]["staff_name"] hidden)
                            input(type='submit' name='att_checking' value='出勤時間一覧')
                        form(method='post')
                            input(type='text' name='staff_id' value=info[i]["_id"] hidden)
                            input(type='text' name='staff_name' value=info[i]["staff_name"] hidden)
                            input(type='submit' name='att_checking' value='行動基準評定')
                        form(method='post')
                            input(type='text' name='staff_id' value=info[i]["_id"] hidden)
                            input(type='text' name='staff_name' value=info[i]["staff_name"] hidden)
                            input(type='submit' name='att_checking' value='OJT研修力カード')
                        form(method='post')
                            input(type='text' name='staff_id' value=info[i]["_id"] hidden)
                            input(type='text' name='staff_name' value=info[i]["staff_name"] hidden)
                            input(type='submit' name='att_checking' value='社員意見')

        -var a = info.length
        include ../responses/res_admin.jade
