//
   Created by mamol on 16/06/28.

doctype html
html
    head
        title 社員出勤時間一覧
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //Import script & css
        script(type='text/javascript' src='/javascripts/adminpage/att_checking.js')
    body
        include ../top.jade
        div
            div
                //div
                //    p #{info.user_id}
                div
                    p #{info.user_name}
                    hr
            div
                div
                    if info.entrance_time_set
                        p#time_text_1="入室時間："+ info.entrance_time_set
                    else
                        p#time_text_1 入室時間：未設定
                    form#time_form_1(method='post')
                        input(hidden type='text' name='staff_id' value=info.user_id)
                        input(hidden type='text' name='staff_name' value=info.user_name)
                        button#time_button_1(type='button') 設定
                        input#time_input_1(hidden type='date' name='entrance_time_set' placeholder='入室時間')
                        input#time_submit_1(hidden type='submit' value='確認')
                        hr
                div
                    if info.leave_time_set
                        p#time_text_2="退室時間："+ info.leave_time_set
                    else
                        p#time_text_2 退室時間：未設定
                    form#time_form_2(method='post')
                        input(hidden type='text' name='staff_id' value=info.user_id)
                        input(hidden type='text' name='staff_name' value=info.user_name)
                        button#time_button_2(type='button') 設定
                        input#time_input_2(hidden type='date' name='leave_time_set' placeholder='退室時間')
                        input#time_submit_2(hidden type='submit' value='確認')
                        hr

            div
                table
                    each day in info['att_data']
                        tr
                            th(id='date_#{day.date_id}' rowspan='2').att_checking_date
                            th.att_label 入室時間
                            if day
                                if day.late == false
                                    td.att_time #{day.entrance_time}
                                else
                                    td(style='background-color: red').att_time #{day.entrance_time}
                            else
                                td(style='background-color: red').att_time
                            th.att_label 遅刻原因
                            if day
                                td #{day.late_reason}
                            else
                                td
                        tr
                            th.att_label 退室時間
                            if day
                                if day.early == false
                                    td.att_time #{day.leave_time}
                                else
                                    td(style='background-color: red').att_time #{day.leave_time}
                            else
                                td(style='background-color: red').att_time
                            th.att_label 早退原因
                            if day
                                td #{day.early_leave_reason}
                            else
                                td