//
   Created by mamol on 16/07/02.
doctype html
html
    head
        title 社員OJTカード研修力
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //DatePicker
        script(type='text/javascript' src='/javascripts/datepicker.js')
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/study.css')
        script(type='text/javascript' src='/javascripts/adminpage/ojt_checking.js')

    body
        body
            include ../top.jade

            div.box
                div #{info.user_name}
                mixin tab(tab_id)
                    hr
                    form(method='post')
                        input(hidden type='text' name='user_id' value=info.user_id)
                        input(hidden type='text' name='user_name' value=info.user_name)
                        div.study_table
                            table
                                tr
                                    th(rowspan='2' style='width: 10%') 日期
                                    th(rowspan='2' style='width: 20%') 研修内容
                                    th(colspan='2') 自己申告
                                tr
                                    th 習得技術内容
                                    th(style='width: 10%') 達成率

                                -var week_day = ['Mon', 'Tus', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                                each day, week_key in week_day
                                    -var week = week_key + 1

                                    tr
                                        td.study_date(id='ojt_day'+ tab_id + week)
                                        td(hidden)
                                            input(id='hidden_ojt_day'+ tab_id + week name='hidden_ojt_day'+ tab_id + week)
                                        td
                                            input.study_text(type='text' id='re_content'+ tab_id + week name='content'+ tab_id + week hidden)
                                            if info['week'+ tab_id] != null
                                                span.study_content(id='content'+ tab_id + week)= info['week'+ tab_id][day]['content']
                                            else
                                                span.study_content(id='content'+ tab_id + week)
                                        td
                                            input.study_text(type='text' id='re_self_report'+ tab_id + week name='self_report'+ tab_id + week hidden)
                                            if info['week'+ tab_id] != null
                                                span.study_content(id='self_report'+ tab_id + week)= info['week'+ tab_id][day]['self_report']
                                            else
                                                span.study_content(id='self_report'+ tab_id + week)
                                        td
                                            select.study_text(id='re_percent'+ tab_id + week name='percent'+ tab_id + week hidden)
                                                option
                                                option 100%
                                                option 90%
                                                option 80%
                                                option 60%
                                                option 未達成
                                            if info['week'+ tab_id] != null
                                                span.study_content(id='percent'+ tab_id + week)= info['week'+ tab_id][day]['percent']
                                            else
                                                span.study_content(id='percent'+ tab_id + week)
                                        td(hidden)
                                            input(id='ojt_day_hidden'+ tab_id + week type='date' name='ojt_day'+ tab_id + week)

                        div.study_table
                                div.study_block
                                    label.study_label 先生評価
                                div.study_block
                                    if info['week'+ tab_id] != null
                                        p(id='teacher'+ tab_id)= info['week'+ tab_id]['teacher']
                                    else
                                        p 内容なし
                                    textarea(id='re_teacher'+ tab_id name='teacher'+ tab_id hidden)

                        div.study_block
                            div.study_submit
                                input(id='study_sub'+ tab_id type='submit' value='送信' name='ojt_admin_modify'+ tab_id hidden)
                            div.study_submit
                                button(id='modify'+ tab_id type='button') 修正


                +tab(0)
                +tab(1)
                +tab(2)
                +tab(3)
                +tab(4)