//
   Created by mamol on 16/06/18.
doctype html
html
    head
        title 出退勤管理
        meta(charset='UTF-8')
        //Import jQuery
        include ../jQuery_import.jade
        //Import script & css
        link(rel='stylesheet' type='text/css' href='/stylesheets/attendance.css')
        script(type='text/javascript' src='/javascripts/attendanceTime.js')
    body
        include ../top.jade
        div.att_box
            div.att_table
                //出勤テキスト
                div
                    div
                        form(method='post')
                            -var disable = false
                            if info[0] != null && info[0].entrance_time
                                -disable = true
                            button(type='submit' name='entrance_time' disabled=disable)#entrance_button 入室確認

                    div
                        form(method='post')
                            -var disable = false
                            -var placeholder = '遅刻原因'
                            if info[0] != null && info[0].late_reason
                                -disable = true
                                -placeholder = info[0].late_reason
                            div
                                input(type='text' placeholder=placeholder name='late_reason' disabled=disable)#late_text
                            div
                                input(type='submit' value='送信' disabled=disable)#late_button
                //退勤テキスト
                div
                    div
                        form(method='post')
                            -var disable = false
                            if info[0] != null && info[0].leave_time
                                -disable = true
                            button(type='submit' name='leave_time' disabled=disable)#leave_button 退室確認
                    div
                        form(method='post')
                            -var disable = false
                            -var placeholder = '早退原因'
                            if info[0] != null && info[0].early_leave_reason
                                -disable = true
                                -placeholder = info[0].early_leave_reason
                            div
                                input(type='text' placeholder=placeholder name='early_leave_reason' disabled=disable)#E_O_text
                            div
                                input(type='submit' value='送信' disabled=disable)#E_O_button
            //一週間の出勤状態
            div.att_list
                hr
                table.att_table
                    each day in info
                        tr
                            th(id='date_#{day.date_id}' rowspan='2').att_date
                            th.att_label 入室時間
                            if day
                                td.att_time #{day.entrance_time}
                            else
                                td.att_time
                            th.att_label 遅刻原因
                            if day
                                td #{day.late_reason}
                            else
                                td
                        tr
                            th.att_label 退室時間
                            if day
                                td.att_time #{day.leave_time}
                            else
                                td.att_time
                            th.att_label 早退原因
                            if day
                                td #{day.early_leave_reason}
                            else
                                td



